<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuniu.ord.persistence.CheckLossDetailMapper" >
  <resultMap id="BaseResultMap" type="com.tuniu.ord.domain.CheckLossDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="check_loss_id" property="checkLossId" jdbcType="INTEGER" />
    <result column="batch_number" property="batchNumber" jdbcType="INTEGER" />
    <result column="deal_order_id" property="dealOrderId" jdbcType="INTEGER" />
    <result column="stock_type" property="stockType" jdbcType="INTEGER" />
    <result column="adult_count_before" property="adultCountBefore" jdbcType="INTEGER" />
    <result column="child_count_before" property="childCountBefore" jdbcType="INTEGER" />
    <result column="baby_count_before" property="babyCountBefore" jdbcType="INTEGER" />
    <result column="adult_count_after" property="adultCountAfter" jdbcType="INTEGER" />
    <result column="child_count_after" property="childCountAfter" jdbcType="INTEGER" />
    <result column="baby_count_after" property="babyCountAfter" jdbcType="INTEGER" />
    <result column="loss_adult_customer" property="lossAdultCustomer" jdbcType="DECIMAL" />
    <result column="loss_child_customer" property="lossChildCustomer" jdbcType="DECIMAL" />
    <result column="loss_baby_customer" property="lossBabyCustomer" jdbcType="DECIMAL" />
    <result column="resell_flag" property="resellFlag" jdbcType="TINYINT" />
    <result column="expire_time" property="expireTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="add_uid" property="addUid" jdbcType="INTEGER" />
    <result column="add_uname" property="addUname" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_uid" property="updateUid" jdbcType="INTEGER" />
    <result column="update_uname" property="updateUname" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap type="com.tuniu.ord.vo.CheckLossDetailShowVo" id="DetailShowVo">
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="ext_product_id" property="extProductId" jdbcType="INTEGER" />
    <result column="ext_order_id" property="extOrderId" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="tour_date" property="tourDate" jdbcType="DATE" />
    <result column="currency_type" property="currencyType" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, check_loss_id, batch_number,deal_order_id, stock_type, adult_count_before, child_count_before, baby_count_before, 
    adult_count_after, child_count_after, baby_count_after, loss_adult_customer, loss_child_customer, 
    loss_baby_customer, resell_flag, expire_time, remark, add_time, add_uid, add_uname, 
    update_time, update_uid, update_uname, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from check_loss_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 统计核损人数 -->
  <select id="getCheckLossNum" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select  <include refid="Base_Column_List" />
    from check_loss_detail 
    where check_loss_id=#{#checkLossId,jdbcType=INTEGER} and del_flag=0
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from check_loss_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tuniu.ord.domain.CheckLossDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into check_loss_detail (check_loss_id, batch_number,deal_order_id, stock_type, adult_count_before, 
      child_count_before, baby_count_before, adult_count_after, 
      child_count_after, baby_count_after, loss_adult_customer, 
      loss_child_customer, loss_baby_customer, resell_flag, 
      expire_time, remark, add_time, 
      add_uid, add_uname, update_time, 
      update_uid, update_uname, del_flag
      )
    values (#{checkLossId,jdbcType=INTEGER}, #{batchNumber,jdbcType=INTEGER},#{dealOrderId,jdbcType=INTEGER}, #{stockType,jdbcType=INTEGER}, 
      #{adultCountBefore,jdbcType=INTEGER}, 
      #{childCountBefore,jdbcType=INTEGER}, #{babyCountBefore,jdbcType=INTEGER}, #{adultCountAfter,jdbcType=INTEGER}, 
      #{childCountAfter,jdbcType=INTEGER}, #{babyCountAfter,jdbcType=INTEGER}, #{lossAdultCustomer,jdbcType=DECIMAL}, 
      #{lossChildCustomer,jdbcType=DECIMAL}, #{lossBabyCustomer,jdbcType=DECIMAL}, #{resellFlag,jdbcType=TINYINT}, 
      #{expireTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, 
      #{addUid,jdbcType=INTEGER}, #{addUname,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUid,jdbcType=INTEGER}, #{updateUname,jdbcType=VARCHAR}, #{delFlag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tuniu.ord.domain.CheckLossDetail" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into check_loss_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="checkLossId != null" >
        check_loss_id,
      </if>
      <if test="batchNumber != null" >
        batch_number,
      </if>
      <if test="dealOrderId != null" >
        deal_order_id,
      </if>
      <if test="stockType != null" >
        stock_type,
      </if>
      <if test="adultCountBefore != null" >
        adult_count_before,
      </if>
      <if test="childCountBefore != null" >
        child_count_before,
      </if>
      <if test="babyCountBefore != null" >
        baby_count_before,
      </if>
      <if test="adultCountAfter != null" >
        adult_count_after,
      </if>
      <if test="childCountAfter != null" >
        child_count_after,
      </if>
      <if test="babyCountAfter != null" >
        baby_count_after,
      </if>
      <if test="lossAdultCustomer != null" >
        loss_adult_customer,
      </if>
      <if test="lossChildCustomer != null" >
        loss_child_customer,
      </if>
      <if test="lossBabyCustomer != null" >
        loss_baby_customer,
      </if>
      <if test="resellFlag != null" >
        resell_flag,
      </if>
      <if test="expireTime != null" >
        expire_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="addUid != null" >
        add_uid,
      </if>
      <if test="addUname != null" >
        add_uname,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUid != null" >
        update_uid,
      </if>
      <if test="updateUname != null" >
        update_uname,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="checkLossId != null" >
        #{checkLossId,jdbcType=INTEGER},
      </if>
      
      <if test="batchNumber != null" >
        #{batchNumber,jdbcType=INTEGER},
      </if>
      <if test="dealOrderId != null" >
        #{dealOrderId,jdbcType=INTEGER},
      </if>
      <if test="stockType != null" >
        #{stockType,jdbcType=INTEGER},
      </if>
      <if test="adultCountBefore != null" >
        #{adultCountBefore,jdbcType=INTEGER},
      </if>
      <if test="childCountBefore != null" >
        #{childCountBefore,jdbcType=INTEGER},
      </if>
      <if test="babyCountBefore != null" >
        #{babyCountBefore,jdbcType=INTEGER},
      </if>
      <if test="adultCountAfter != null" >
        #{adultCountAfter,jdbcType=INTEGER},
      </if>
      <if test="childCountAfter != null" >
        #{childCountAfter,jdbcType=INTEGER},
      </if>
      <if test="babyCountAfter != null" >
        #{babyCountAfter,jdbcType=INTEGER},
      </if>
      <if test="lossAdultCustomer != null" >
        #{lossAdultCustomer,jdbcType=DECIMAL},
      </if>
      <if test="lossChildCustomer != null" >
        #{lossChildCustomer,jdbcType=DECIMAL},
      </if>
      <if test="lossBabyCustomer != null" >
        #{lossBabyCustomer,jdbcType=DECIMAL},
      </if>
      <if test="resellFlag != null" >
        #{resellFlag,jdbcType=TINYINT},
      </if>
      <if test="expireTime != null" >
        #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUid != null" >
        #{addUid,jdbcType=INTEGER},
      </if>
      <if test="addUname != null" >
        #{addUname,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUid != null" >
        #{updateUid,jdbcType=INTEGER},
      </if>
      <if test="updateUname != null" >
        #{updateUname,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tuniu.ord.domain.CheckLossDetail" >
    update check_loss_detail
    <set >
      <if test="checkLossId != null" >
        check_loss_id = #{checkLossId,jdbcType=INTEGER},
      </if>
      <if test="batchNumber != null" >
        batch_number = #{batchNumber,jdbcType=INTEGER},
      </if>
      <if test="dealOrderId != null" >
        deal_order_id = #{dealOrderId,jdbcType=INTEGER},
      </if>
      <if test="stockType != null" >
        stock_type = #{stockType,jdbcType=INTEGER},
      </if>
      <if test="adultCountBefore != null" >
        adult_count_before = #{adultCountBefore,jdbcType=INTEGER},
      </if>
      <if test="childCountBefore != null" >
        child_count_before = #{childCountBefore,jdbcType=INTEGER},
      </if>
      <if test="babyCountBefore != null" >
        baby_count_before = #{babyCountBefore,jdbcType=INTEGER},
      </if>
      <if test="adultCountAfter != null" >
        adult_count_after = #{adultCountAfter,jdbcType=INTEGER},
      </if>
      <if test="childCountAfter != null" >
        child_count_after = #{childCountAfter,jdbcType=INTEGER},
      </if>
      <if test="babyCountAfter != null" >
        baby_count_after = #{babyCountAfter,jdbcType=INTEGER},
      </if>
      <if test="lossAdultCustomer != null" >
        loss_adult_customer = #{lossAdultCustomer,jdbcType=DECIMAL},
      </if>
      <if test="lossChildCustomer != null" >
        loss_child_customer = #{lossChildCustomer,jdbcType=DECIMAL},
      </if>
      <if test="lossBabyCustomer != null" >
        loss_baby_customer = #{lossBabyCustomer,jdbcType=DECIMAL},
      </if>
      <if test="resellFlag != null" >
        resell_flag = #{resellFlag,jdbcType=TINYINT},
      </if>
      <if test="expireTime != null" >
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addUid != null" >
        add_uid = #{addUid,jdbcType=INTEGER},
      </if>
      <if test="addUname != null" >
        add_uname = #{addUname,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUid != null" >
        update_uid = #{updateUid,jdbcType=INTEGER},
      </if>
      <if test="updateUname != null" >
        update_uname = #{updateUname,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tuniu.ord.domain.CheckLossDetail" >
    update check_loss_detail
    set check_loss_id = #{checkLossId,jdbcType=INTEGER},
      batch_number = #{batchNumber,jdbcType=INTEGER},
      deal_order_id = #{dealOrderId,jdbcType=INTEGER},
      stock_type = #{stockType,jdbcType=INTEGER},
      adult_count_before = #{adultCountBefore,jdbcType=INTEGER},
      child_count_before = #{childCountBefore,jdbcType=INTEGER},
      baby_count_before = #{babyCountBefore,jdbcType=INTEGER},
      adult_count_after = #{adultCountAfter,jdbcType=INTEGER},
      child_count_after = #{childCountAfter,jdbcType=INTEGER},
      baby_count_after = #{babyCountAfter,jdbcType=INTEGER},
      loss_adult_customer = #{lossAdultCustomer,jdbcType=DECIMAL},
      loss_child_customer = #{lossChildCustomer,jdbcType=DECIMAL},
      loss_baby_customer = #{lossBabyCustomer,jdbcType=DECIMAL},
      resell_flag = #{resellFlag,jdbcType=TINYINT},
      expire_time = #{expireTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      add_uid = #{addUid,jdbcType=INTEGER},
      add_uname = #{addUname,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_uid = #{updateUid,jdbcType=INTEGER},
      update_uname = #{updateUname,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectDetailInfo" resultMap="DetailShowVo">
    select 
    DISTINCT(odo.product_id),odo.product_name,odo.depart_date tour_date,oso.cost_currency_type currency_type,cl.`status`,oso.ext_order_id,oso.ext_product_id
    from check_loss cl,ord_sales_order oso,ord_deal_order odo
    where cl.del_flag=0
    <choose>
      <when test="checkLossId>0"> and cl.id=#{checkLossId,jdbcType=INTEGER} and cl.sell_order_id=oso.ext_order_id and cl.requirement_id = oso.requirement_id and oso.order_id = odo.order_id </when>
    </choose>
  </select>
  
  <select id="selectCheckLossDetailList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from check_loss_detail cld 
    where cld.del_flag=0
    <choose>
      <when test="checkLossId>0"> and cld.check_loss_id=#{checkLossId,jdbcType=INTEGER}</when>
    </choose>
  </select>
</mapper>